.App {
   position: relative;
   height: 100vh;
}

.borderyellow {
   border: 1px solid yellow;
}

.ContentHeader {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 90%;
}

.ContentHeaderCollapse {
   display: flex;
   justify-content: center;
   align-items: center;
   /* height: 90%; */
}

.ContainerPagination {
   display: flex;
   justify-content: center;
   margin-top: 20px;
}

.PaginationResults {
   display: inline-block;
   padding-left: 0;
   margin: 20px 0;
   border-radius: 4px;
}

.PaginationResults>li {
   display: inline;
}

.PaginationResults>.active>a, .PaginationResults>.active>a:focus, .PaginationResults>.active>a:hover, .PaginationResults>.active>span, .PaginationResults>.active>span:focus, .PaginationResults>.active>span:hover {
   z-index: 3;
   color: #fff;
   cursor: default;
   background-color: #42a5f5;
   border-color: #42a5f5;
}

.PaginationResults>li>a, .PaginationResults>li>span {
   position: relative;
   float: left;
   padding: 6px 12px;
   margin-left: -1px;
   line-height: 1.42857143;
   color: #42a5f5;
   text-decoration: none;
   background-color: #fff;
   border: 1px solid #ddd;
   cursor: pointer;
}